# Allow init to bind mount time_daemon
allow init time_daemon_exec:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;
allow init vendor_configs_file:dir mounton;
