on init
    mount none /system/bin/time_daemon /vendor/bin/time_daemon bind
    mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
    mount none /vendor/lost+found /vendor/etc/audio bind
